<div class="container">
  <div [hidden]="submitted">
    <div class="ang-form">
      <span class="angular"></span>
      <span class="ang-text">Template Driven Forms</span>
    </div>
    <form (ngSubmit)="onSubmit(model)" #templateForm="ngForm">
      <div class="form-group">
        <label for="name">User Name</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user text-muted"></span>
          </span>
          <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="validate" placeholder="Enter username"
            #name="ngModel" minlength="2" [pattern]="userNamePattern">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Please enter minimum of 2 characters a - z and no space in username!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Email</label>
        <div class="input-group input-group-lg pd-top">
          <span class="input-group-addon">
            
            <span class="glyphicon glyphicon-envelope text-muted"></span>
          </span>
          <input type="text" class="form-control" id="myEmail" [(ngModel)]="model.myEmail" #myEmail="ngModel" name="myEmail" [pattern]="emailPattern" 
          placeholder="Enter email" required>
          <div *ngIf="myEmail.touched" class="alert alert-danger">
           <p *ngIf="myEmail.errors?.required || myEmail.errors?.pattern"> A valid Email is a required field!</p> 
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="myEmails">Occupation</label>
        <div class="input-group input-group-lg pd-top">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-edit text-muted"></span>
          </span>
          <select class="form-control" id="myJobs" required [(ngModel)]="model.myJobs" name="myJobs" #myJobs="ngModel" placeholder="Choose">
            <option value="" disabled selected hidden>Occupation?</option>
            <option *ngFor="let jb of jobs" [value]="jb">{{jb}}</option>
          </select>
          <div [hidden]="myJobs.valid || myJobs.pristine" class="alert alert-danger">
            Please choose!
          </div>
        </div>
      </div>
      <button type="submit" class="button" [disabled]="!templateForm.form.valid">Submit</button>
    </form>
  </div>

  <div *ngIf="submitted">
    <div class="container">
      <div class="sim-server">
        <div class="ang-form">
          <span class="angular"></span>
          <span class="ang-text">Template Driven Forms</span>
        </div>
        <div class="sim-lnk">
          <strong>Mocking server</strong>
        </div>
        <p>
          <span class="font-weight-bold">Name: </span>{{titleRes}}</p>
        <p>
          <span class="font-weight-bold">Message: </span>{{textRes}}</p>
        <div>
          <span class="font-weight-bold">Occupation: </span> {{jobRes}}</div>
          <button class="sim-lnk" (click)="refresh()">Back to form</button>
      </div>
    </div>
  </div>
</div>
